DATABASE_URL=postgresql://neondb_owner:npg_WGO5Rmln7sqH@ep-raspy-truth-a1tj6ky6-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=
PORT=3001

JWT_SECRET=runState_Go
APP_ENV=dev
ADMIN_EMAIL=
ADMIN_PASSWORD=

MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_SENDER=

MONITORING_STREAM=betteruptime:websites-ticks
# ap-south-1 region id
MONITORING_REGION_NAME=ap-south-1
MONITORING_GROUP=monitoring-group 
MONITORING_CONSUMER=monitoring-consumer

STATUS_CHANGE_STREAM=betteruptime:website-status-change
STATUS_CHANGE_GROUP=status-change-group
STATUS_CHANGE_CONSUMER=status-change-consumer

NOTIFICATION_STREAM=betteruptime:website-status-notification
NOTIFICATION_GROUP=notification-group
NOTIFICATION_CONSUMER=notification-consumer